*{
    
    box-sizing: border-box;
}



h1, h2{
    color: rgb(55, 15, 5);
    font-size: 50px;
    background-color: darkgoldenrod;
}

h3{
    color: yellow;
    font-size: 30px;
}

p{
    color: blue;
    font-size: 20px;
    padding: 20px 10px 0px 30px;
    border: 3px dashed color(black);
}