*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*
    Comentario
*/

h1, h2{
    color: rgb(55, 15, 5);
    font-size: 50px;
    background-color: darkgoldenrod;
}

h3{
    color: yellow;
    font-size: 30px;
}

p{
    color: blue;
    background-color: aqua;
    font-size: 20px;
    padding: 20px 10px 0px 30px;
    border: 13px dashed color(black);
    border-radius:40%;
    margin: 12px;
}